:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

h1 {
  padding: 1em;
}

h3 {
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-grow: 1;
  width: 100%;
}
