:host {
  background: #fff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1c1c;
}

.header-container {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  width: min-content;
}

.header-container > img {
  height: 3em;
}

.header-container:hover > img {
  animation: bounce 0.25s ease;
}

.flag-colors {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #00843D 0%, #00843D 25%, #FFFFFF 25%, #FFFFFF 50%, #000000 50%, #000000 75%, #C8102E 75%, #C8102E 100%);
  border-bottom: 1px solid black;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  flex-grow: 1;
}

footer {
  display: flex;
  justify-content: center;
  padding: 0.5em 1em;
}

.footer-text {
  color: rgb(131, 131, 131);
  text-decoration: none;
}

.footer-link {
  color: rgb(131, 131, 131);
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
