<div class="country-wrapper">
  <section id="country-container" class="country-container">
    <a class="song-holder inactive">
      <div class="song-bg" style="background-image: conic-gradient(rgb(0, 132, 61) 0%, rgb(0, 132, 61) 25%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 75%, rgb(200, 16, 46) 75%, rgb(200, 16, 46) 100%);"></div>
      <div class="song-image" style="background-image: url('/2026.png');"></div>
      <div class="song-container">
        <div class="song-flag">🇦🇪</div>
        <div class="song-header">
          <h2>2026</h2>
          <h3>EAU</h3>
        </div>
      </div>
    </a>
    <a class="song-holder" routerLink="2025">
      <div class="song-bg" style="background-image: conic-gradient(rgb(255, 205, 0) 0%, rgb(255, 205, 0) 33.3333%, rgb(0, 48, 135) 33.3333%, rgb(0, 48, 135) 66.6667%, rgb(200, 16, 46) 66.6667%, rgb(200, 16, 46) 100%);"></div>
      <div class="song-image" style="background-image: url('/2025.png');"></div>
      <div class="song-container">
        <div class="song-flag">🇨🇴</div>
        <div class="song-header">
          <h2>2025</h2>
          <h3>Colombia</h3>
        </div>
      </div>
    </a>
    <a class="song-holder" routerLink="2024">
      <div class="song-bg" style="background-image: conic-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 25%, rgb(205, 46, 58) 25%, rgb(205, 46, 58) 50%, rgb(0, 71, 160) 50%, rgb(0, 71, 160) 75%, rgb(0, 0, 0) 75%, rgb(0, 0, 0) 100%);"></div>
      <div class="song-image" style="background-image: url('/2024.png');"></div>
      <div class="song-container">
        <div class="song-flag">🇰🇷</div>
        <div class="song-header">
          <h2>2024</h2>
          <h3>Corea del Sur</h3>
        </div>
      </div>
    </a>
    <a class="song-holder inactive">
      <div class="song-bg" style="background: conic-gradient(rgb(0, 85, 164) 0%, rgb(0, 85, 164) 33.3333%, rgb(255, 255, 255) 33.3333%, rgb(255, 255, 255) 66.6667%, rgb(239, 65, 53) 66.6667%, rgb(239, 65, 53) 100%);"></div>
      <div class="song-container">
        <div class="song-flag">🇫🇷</div>
        <div class="song-header">
          <h2>2023</h2>
          <h3>Francia</h3>
        </div>
      </div>
    </a>
  </section>
</div>
