* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: rgb(243, 243, 243);
}

body {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 0.5em;
}

.country-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.country {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: white;
    gap: 0.5em;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.input-container > input {
    padding: 0.25em;
    flex-grow: 1;
}

.bi-youtube {
    font-size: 1.25em;
    color: #c4302b;
}

.bi-spotify {
    font-size: 1.25em;
    color: #18b71a;
}