:host {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  view-transition-name: wv-edition;
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.loading-spinner {
  width: 15em;
  height: 15em;
  border: 0.25em solid;
  border-left-color: #FFCD00;
  border-top-color: #003087;
  border-right-color: #C8102E;
  border-bottom-color: transparent;
  border-radius: 50%;
  z-index: 2000;
  animation: loading-animation 1s linear infinite;
}

.country-wrapper {
  padding: calc(1em - 3px);
  padding-top: 0;
  overflow-y: scroll;
  overflow-x: visible;
  max-height: 100%;
}

.country-container {
  display: grid;
  flex-direction: column;
  gap: 0.5em;
  overflow-x: visible;
  overflow-y: clip;
  grid-template-columns: repeat(3, auto);
}

.song-holder {
  position: relative;
  overflow: hidden;
  border-radius: 1em;
  padding: 3px;
  flex-shrink: 0;
  border: 1px solid #3a3a3a;
  transition: transform 0.5s ease-out;

  &:hover {
    border-color: transparent;
  }
}

.song-holder:hover, .song-holder:active {
  transform: scale(1.01);
  transition: transform 0.15s ease-out;
}

.song-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  display: none;
}

.song-holder:hover > .song-bg, .song-holder:active > .song-bg {
  display: block;
  background-size: 100% 100%;
  background-repeat: repeat;
  background-position: -100% 0%;
  transform: scale(20);
  animation: song-border 5s infinite linear;
  z-index: 0;
}

.song-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: calc(1em - 3px);
  text-decoration: none;
  background-color: #222222;
  color: #dadada;
  height: 100%;
}

.song-flag {
  display: flex;
  gap: 0.5rem;
  font-size: 2rem;
}

.song-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25em;
}

.song-country {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.song-country > h2 {
  font-size: 1.75rem;
}

.song-country > h3 {
  font-size: 1rem;
}

.song-country > p {
  font-size: 0.75rem;
}

.song-country > p:nth-of-type(2) {
  display: none;
}

.song-links {
  display: flex;
  gap: 1em;
  margin-left: auto;
  margin-right: 1em;
  line-height: 0;
}

.spotify-link {
  border-radius: 50%;
  color: #18b71a;
  font-size: 2em;
  transition: transform 0.125s ease-out;

  &:hover {
    transform: scale(1.2);
  }
}

.youtube-link {
  border-radius: 50%;
  color: #c4302b;
  font-size: 2em;
  transition: transform 0.125s ease-out;

  &:hover {
    transform: scale(1.2);
  }
}

.disabled-link {
  color: gray;
  cursor: not-allowed;
  transition: none;

  &:hover {
    transform: none;
  }
}

.song-result {
  background-color: #8de4f6;
  padding: 0.25em 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5em;
  font-size: 0.75rem;
  text-align: center;
  text-wrap: balance;
  color: #272727;
}

.controls {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: calc(1em - 3px);
  gap: 0.5em;

  input {
    border: none;
    padding: 0.5em;
    border-radius: 0.25em;
    flex-grow: 1;
    font-size: 0.75rem;
    background-color: #3c3c3c;
    color: #dadada;
    height: 2rem;
  }

  .spoilers-btn {
    border: none;
    background-color: #616161;
    color: white;
    padding: 0.5em;
    font-size: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
  }

  .spoilers-btn:hover {
    background-color: #535353;
  }

  .spoilers-btn:active {
    background-color: #424242;
  }
}

@media screen and (max-width: 1400px) {

  .country-container {
    grid-template-columns: repeat(2, auto);
  }

}

@media screen and (max-width: 768px) {

  .country-container {
    grid-template-columns: repeat(1, auto);
  }

  .song-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .song-flag {
    display: none;
  }

  .song-country {
    flex-direction: column;
    align-items: flex-start;
  }

  .song-country > p:nth-of-type(1) {
    display: none;
  }

  .song-country > p:nth-of-type(2) {
    display: block;
  }

  .song-links {
    margin-right: 0.5em;
  }

}

@keyframes bounce {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }

}

@keyframes bounce-sm {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }

}

@keyframes song-border {

  to {
    transform: scale(20) rotate(360deg);
  }

}

@keyframes loading-animation {

  to {
    transform: rotate(360deg);
  }

}
