<div class="loading" id="loading-element" [ngStyle]="{'display': (songs) ? 'none' : 'flex'}">
  <span class="loading-spinner"></span>
</div>
<div class="controls">
  <input #searchBar type="text" placeholder="Buscar..." (input)="filterSongs()">
  <button class="spoilers-btn" (click)="toggleSpoilers()">
    @if (spoilers) {
      <i class="bi bi-eye-slash-fill"></i>
    } @else {
      <i class="bi bi-eye-fill"></i>
    }
  </button>
</div>
<div class="country-wrapper">
  <section id="country-container" class="country-container">
    @for (song of filteredSongs; track $index) {
      <div class="song-holder" (click)="selectSong(song)">
        <div class="song-bg" [ngStyle]="{'background': 'conic-gradient(from var(--bg-angle), ' + generateGradient(song.colors) + ')'}">

        </div>
        <div class="song-container">

          <div class="container-flag">
            {{ song.flag }}
          </div>
          <div class="song-header">
            <h2 style="display: flex; gap: 0.5rem; align-items: center;">
              <div class="song-flag">
              {{ song.flag }}
              </div>
              <p>{{ song.title }}</p>
            </h2>
            <h3>{{ song.author }}</h3>
            <div class="song-country">
              <p>{{ song.country }}</p>
              <p>{{ song.flag }} {{ song.country }}</p>
              @if (spoilers && song.result) {
                <div class="song-result" [ngStyle]="{'background': getResultColor(song.result)}">
                  {{ song.result }}
                </div>
              }
            </div>
          </div>
          <div class="song-links">
            @if (song.links.spotify) {
              <a [href]="song.links.spotify" target="_blank" class="spotify-link">
                <i class="bi-spotify"></i>
              </a>
            } @else {
              <a class="spotify-link disabled-link">
                <i class="bi-spotify"></i>
              </a>
            }
            @if (song.links.youtube) {
              <a [href]="song.links.youtube" target="_blank" class="youtube-link">
                <i class="bi-youtube"></i>
              </a>
            } @else {
              <a class="spotify-link disabled-link">
                <i class="bi-youtube"></i>
              </a>
            }
          </div>
        </div>
      </div>
    }
  </section>
</div>
@if (selectedSong() != undefined) {
  <div class="dialog-container">
    <div class="dialog-bg" (click)="selectSong(undefined!)"></div>
    <div class="dialog">
      <div class="song-bg song-bg-slow" style="display: block" [ngStyle]="{'background': 'conic-gradient(from var(--bg-angle), ' + generateGradient(selectedSong()!.colors) + ')'}">
      </div>
      <div class="dialog-data">
        <div class="dialog-header">
          <h2>{{ selectedSong()?.title }}</h2>
          <h3>{{ selectedSong()?.author }}</h3>
          <p style="margin-top: 0.5rem">{{ selectedSong()?.flag }} {{ selectedSong()?.country }}</p>
        </div>
        <div class="dialog-links">
          @if (selectedSong()!.links.spotify) {
            <a [href]="selectedSong()!.links.spotify" target="_blank" class="link spotify">
              <i class="bi-spotify"></i> <span>Escuchar en Spotify</span>
            </a>
          } @else {
            <a class="link disabled">
              <i class="bi-spotify"></i> <span>Escuchar en Spotify</span>
            </a>
          }
          @if (selectedSong()!.links.youtube) {
            <a [href]="selectedSong()!.links.youtube" target="_blank" class="link youtube">
              <i class="bi-youtube"></i> <span>Ver en YouTube</span>
            </a>
          } @else {
            <a class="link disabled">
              <i class="bi-youtube"></i> <span>Ver en YouTube</span>
            </a>
          }
        </div>
      </div>
    </div>
  </div>
}
